<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title - My ASP.NET MVC Application</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Resources/Stylesheet/Zaza.css")
  @*  @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
  @*   
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
  *@
  <div id="contentwrapper">
    <div id="top-header">
      @Html.Partial("Header")
      @Html.Partial("PublicMenu")

    </div>
    <div id="main-content">
      @RenderBody()
    </div>

    @*  @RenderSection("featured", required: false)*@
    @*   <section class="content-wrapper main-content clear-fix">
           
        </section>*@
    <footer>
      @Html.Partial("Footer")
    </footer>
  </div>

  @* @Scripts.Render("~/bundles/jquery")*@
  @RenderSection("scripts", required: false)
</body>
</html>
